<html>

<head>
    <title>A very simple Calculator</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
        integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href='{{ url_for("static", filename="style.css") }}'>
</head>

<body>

    <div class="content">
        <form class="pure-form" action="calculate" method="POST">
            <fieldset>
                <h2>A very simple Calculator</h2>
                <input type="text" placeholder="Type a number" name="n1" />
                <select name="op">
                    <option value="+"">+ Sum</option>
                    <option value="-">- Subtract</option>
                    <option value="/">/ Divide</option>
                    <option value="*">* Multiply</option>
                </select>
                <input type="text" placeholder="Type another number" name="n2" />
                <button type="submit" class="pure-button pure-button-primary">Calculate</button>
            </fieldset>
        </form>

        {% if historic %}
            <table class="pure-table">
                <thead>
                    <th>First Number</th>
                    <th>Operation</th>
                    <th>Second Number</th>
                    <th>Result</th>
                </thead>
                <tbody>    
                    {% for calc in historic %}
                    <tr>
                        <td>{{ calc['n1'] }}</td>
                        <td>{{ calc['op'] }}</td>
                        <td>{{ calc['n2'] }}</td>
                        <td>{{ calc['result'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <a href="/reset" class="button-warning pure-button">Reset</a>
        {% endif %}

    </div>

</body>

</html>